img {

	width:30%;
	margin: 1.6666%;

}


nav {
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	text-transform: uppercase;
	border-bottom: 2px solid #f1f1f1;
	width: 30%;
	margin-left:  1.6666%;
	padding: 20px 0px;

}
